In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.date_range?

In [3]:
pd.Series(pd.date_range('2021-09-01', periods=3, freq='D')) #days

0   2021-09-01
1   2021-09-02
2   2021-09-03
dtype: datetime64[ns]

In [4]:
pd.Series(pd.date_range('2021-09-01', periods=3, freq='H')) #hours

0   2021-09-01 00:00:00
1   2021-09-01 01:00:00
2   2021-09-01 02:00:00
dtype: datetime64[ns]

In [5]:
pd.Series(pd.date_range('2021-09-01', periods=300, freq='H'))

0     2021-09-01 00:00:00
1     2021-09-01 01:00:00
2     2021-09-01 02:00:00
3     2021-09-01 03:00:00
4     2021-09-01 04:00:00
              ...
295   2021-09-13 07:00:00
296   2021-09-13 08:00:00
297   2021-09-13 09:00:00
298   2021-09-13 10:00:00
299   2021-09-13 11:00:00
Length: 300, dtype: datetime64[ns]

In [6]:
300/24

12.5

In [7]:
pd.Series(pd.date_range('2021-09-01', periods=3, freq='N'))

0   2021-09-01 00:00:00.000000000
1   2021-09-01 00:00:00.000000001
2   2021-09-01 00:00:00.000000002
dtype: datetime64[ns]

In [8]:
pd.Series(pd.date_range('2021-01-01', periods=3, freq='BM'))

0   2021-01-29
1   2021-02-26
2   2021-03-31
dtype: datetime64[ns]

In [9]:
pd.Series(pd.date_range('2021-01-01', periods=3, freq='2h'))

0   2021-01-01 00:00:00
1   2021-01-01 02:00:00
2   2021-01-01 04:00:00
dtype: datetime64[ns]

In [10]:
pd.Series(pd.date_range('2021-01-01', periods=3, freq='5s'))

0   2021-01-01 00:00:00
1   2021-01-01 00:00:05
2   2021-01-01 00:00:10
dtype: datetime64[ns]

In [11]:
dates = pd.Series(pd.date_range('2021-11-01', periods=100, freq='15min'))
data = np.random.randint(3, 11, size=100)
df = pd.DataFrame(data, index=dates)
df = df.rename(columns = {0:'value'})

In [12]:
df

                     value
2021-11-01 00:00:00      3
2021-11-01 00:15:00      7
2021-11-01 00:30:00      8
2021-11-01 00:45:00      8
2021-11-01 01:00:00      5
...                    ...
2021-11-01 23:45:00      3
2021-11-02 00:00:00      3
2021-11-02 00:15:00      8
2021-11-02 00:30:00      8
2021-11-02 00:45:00      5

[100 rows x 1 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2021-11-01 00:00:00 to 2021-11-02 00:45:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   100 non-null    int64
dtypes: int64(1)
memory usage: 1.6 KB

In [14]:
df.reset_index()

                 index  value
0  2021-11-01 00:00:00      3
1  2021-11-01 00:15:00      7
2  2021-11-01 00:30:00      8
3  2021-11-01 00:45:00      8
4  2021-11-01 01:00:00      5
..                 ...    ...
95 2021-11-01 23:45:00      3
96 2021-11-02 00:00:00      3
97 2021-11-02 00:15:00      8
98 2021-11-02 00:30:00      8
99 2021-11-02 00:45:00      5

[100 rows x 2 columns]

In [21]:
hours = df.resample('8H').mean()

In [22]:
hours

                       value
2021-11-01 00:00:00  6.31250
2021-11-01 08:00:00  6.71875
2021-11-01 16:00:00  6.87500
2021-11-02 00:00:00  6.00000

In [ ]:
#I want the mean of the first hour of every month