## Exercize

Download TB_burden_age_sex_2019-04-23.csv for 2017 from the site https://www.who.int/tb/country/data/download/en/. Save this file in your project folder. Open the file with `pd.read_csv()` method do the following cleaning

- drop the collumns iso2, iso3, iso_numeric. 
- rename the collumn age_group to age

In [13]:
import pandas as pd

df = pd.read_csv('data/TB_burden_age_sex_2019-04-23.csv')
df = df.drop('iso2', axis = 1).drop('iso3', axis =1).drop('iso_numeric', axis=1)
df = df.rename(columns = {'age_group':'age'})
df.head()

       country  year measure unit   age sex  best      lo       hi
0  Afghanistan  2017     inc  num  0-14   a  7500  4300.0  11000.0
1  Afghanistan  2017     inc  num  0-14   f  3600  1400.0   5800.0
2  Afghanistan  2017     inc  num  0-14   m  4000  1500.0   6400.0
3  Afghanistan  2017     inc  num   0-4   f  1800     0.0   4400.0
4  Afghanistan  2017     inc  num   0-4   m  2200     0.0   5400.0

### Question 0 (Example)

What is the first country in df? This function should return a Series

In [4]:
def answer_zero():

    return df.iloc[0]

answer_zero()

country    Afghanistan
year              2017
measure            inc
unit               num
age               0-14
sex                  a
best              7500
lo                4300
hi               11000
Name: 0, dtype: object

### Question 1

Which country has the highest estimate of TB?

This function should return a the string India.

In [5]:
def answer_one():
    
    return df['country'].iloc[df['hi'].idxmax()]

answer_one()

'India'

### Question 2

Which country has the smallest difference between high and low estimates?

In [6]:
def answer_two():
    
    return df['country'].iloc[(df['hi'] - df['lo']).idxmin()]

answer_two()

'American Samoa'

### Question 3

How many countries have 65plus records?

In [7]:
def answer_three(df):
    
    df = df[df['age'] == '65plus'] #select 65plus countries
    return len(df.groupby('country')['age'].nunique())

answer_three(df)

119

### Question 4

Select the females and exclude the 'age = all' records. What are the top 5 countries that have the two most highest 'best estimates'?

In [19]:
import pandas as pd

df = pd.read_csv('data/TB_burden_age_sex_2019-04-23.csv')
df = df.drop('iso2', axis = 1).drop('iso3', axis =1).drop('iso_numeric', axis=1)
df = df.rename(columns = {'age_group':'age'})

df = df[df['sex'] == 'f'] 
df = df[df['age'] != 'all']
df = df.groupby('country')['best'].apply(lambda x: x.nlargest(2).sum())
df.nlargest(5) #top 5 countries

country
India          1084000
Indonesia       393000
China           296000
Pakistan        252000
Philippines     173000
Name: best, dtype: int64